.gallery-container {
    padding: 1rem;
    text-align: left;
}

.title-text {
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    aspect-ratio: 1 / 1; /* Ensures the grid items are square */
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item .description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 1rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-item:hover img {
    filter: blur(2px);
}

.gallery-item:hover .description {
    opacity: 1;
}

.gallery-item .description h2 {
    font-size: 1rem;
    margin: 0;
}

.gallery-item .description p {
    font-size: 0.875rem;
    margin: 0.5rem 0 0;
}

.gallery-section-header {
    grid-column: 1 / -1;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    margin: 1rem 0;
    color: #333;
}
